

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}
label {
  opacity: 0.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #11111194;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

i {
    color: #e09139;
}

p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #111111;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  margin-bottom: 35px;
}
.section-title span {
  color: #f08632;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  margin-bottom: 10px;
}
.section-title h2 {
  font-size: 46px;
  color: #111111;
  line-height: 60px;
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display", serif;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

/* buttons */
.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 30px;
  color: #ffffff;
  background: #f08632;
  letter-spacing: 2px;
}

.site-btn {
  font-size: 20px;
  color: #ffffff;
  background: #e09132;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  padding: 14px 60px;
  border-radius: 20px;
}

/*---------------------
  Class
-----------------------*/
.class {
  background: rgba(240, 135, 50, 0.1);
  position: relative;
  padding-bottom: 0;
}

.class__form {
  height: 620px;
}
.class__form form input {
  height: 50px;
  width: 100%;
  padding-left: 20px;
  font-size: 15px;
  color: #444444;
  background: #ffffff;
  border: none;
  margin-bottom: 20px;
}
.class__form form button {
  letter-spacing: 2px;
  width: 100%;
}

/*---------------------
  Map
-----------------------*/
.map {
  position: relative;
  height: 200px;
}
.map .container {
  position: relative;
  z-index: 5;
  top: 50px;

}

.map__iframe {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100px;
}
.map__iframe iframe {
  width: 100%;
}

.map__inner {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
          box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
  padding: 30px 25px 25px;
  position: relative;
}
.map__inner:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 20px;
  width: 20px;
  background: #ffffff;
  content: "";
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 auto;
}
.map__inner h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.map__inner ul li {
  list-style: none;
  font-size: 14px;
  color: #444444;
  margin-bottom: 10px;
}

/*---------------------
  Footer
-----------------------*/
.footer {
  padding-top: 70px;
}

.footer__widget {
  position: relative;
  margin-bottom: 30px;
}
.footer__widget:after {
  position: absolute;
  right: 25px;
  top: 0;
  width: 1px;
  height: 165px;
  background: rgba(255, 255, 255, 0.1);
  content: "";
}
.footer__widget h6 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.footer__widget ul li {
  list-style: none;
  font-size: 14px;
  color: #a4a4a4;
  line-height: 36px;
}

.footer__about {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.footer__about:after {
  position: absolute;
  right: -35px;
  top: 0;
  width: 1px;
  height: 165px;
  background: rgba(255, 255, 255, 0.1);
  content: "";
}
.footer__about .footer__logo {
  margin-bottom: 32px;
}
.footer__about .footer__logo a {
  display: inline-block;
}
.footer__about p {
  font-size: 14px;
  color: #a4a4a4;
  line-height: 26px;
  margin-bottom: 25px;
}
.footer__about .footer__social a {
  display: inline-block;
  color: #ffffff;
  background: rgba(225, 225, 225, 0.1);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  margin-right: 6px;
}
.footer__about .footer__social a:last-child {
  margin-right: 0;
}

.footer__newslatter {
  padding-left: 50px;
  margin-bottom: 30px;
}
.footer__newslatter h6 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.footer__newslatter p {
  font-size: 14px;
  color: #a4a4a4;
  line-height: 26px;
  margin-bottom: 25px;
}
.footer__newslatter form {
  position: relative;
}
.footer__newslatter form input {
  height: 50px;
  width: 100%;
  padding-left: 22px;
  background: rgba(253, 243, 234, 0.2);
  border: none;
  color: #ffffff;
  font-size: 14px;
}
.footer__newslatter form input::-webkit-input-placeholder {
  color: #ffffff;
}
.footer__newslatter form input::-moz-placeholder {
  color: #ffffff;
}
.footer__newslatter form input:-ms-input-placeholder {
  color: #ffffff;
}
.footer__newslatter form input::-ms-input-placeholder {
  color: #ffffff;
}
.footer__newslatter form input::placeholder {
  color: #ffffff;
}
.footer__newslatter form button {
  font-size: 20px;
  color: #f08632;
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 20px;
}

.copyright {
  background: #000000;
  padding: 18px 0 14px;
  margin-top: 40px;
}

.copyright__text {
  margin-bottom: 0;
  font-size: 14px;
  color: #888888;
}
.copyright__text i {
  color: #f08632;
}
.copyright__text a {
  color: #f08632;
}

.copyright__widget {
  text-align: right;
}
.copyright__widget ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.copyright__widget ul li:after {
  position: absolute;
  right: -18px;
  top: 0;
  content: "|";
  color: #888888;
}
.copyright__widget ul li:last-child {
  margin-right: 0;
}
.copyright__widget ul li:last-child:after {
  display: none;
}
.copyright__widget ul li a {
  font-size: 14px;
  color: #888888;
}


/*---------------------
  Shopping Cart
-----------------------*/

.shopping__cart h3{
  color: #e09319;
  font-weight: 700;
  text-align: center;
  font-style: bold;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
.shopping__cart__text {
  font-size: 18px;
  font-weight: bold;
  color: black; /* Màu chữ */
  position: relative;
}

.shopping__cart__text::after {
  content: ""; /* Tạo một phần tử pseudo-element */
  display: block;
  position: absolute;
  bottom: -5px; /* Khoảng cách từ đường gạch đến chữ */
  left: 0;
  width: 70px; /* Độ dài cố định của đường gạch */
  height: 2px;
  background-color: #e09139; /* Màu của đường gạch dưới */
}
.shopping__cart__button {
  margin-left: 10px; /* Khoảng cách giữa chữ và nút */
  color:#000000;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none; /* Loại bỏ đường gạch dưới mặc định cho thẻ a */
  border: 2px solid #e09139; 
  border-radius: 20px; 
  position: relative;
}
.shopping__cart form {
  padding-top:10px;
}
.shopping__cart form input {
  width: 100%;
  height: 50px;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  margin-bottom: 3px;
}
.shopping__cart form input:last-child {
  color: #111111;
}


.shopping__cart form textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  padding-top: 12px;
  margin-bottom: 24px;
  resize: none;
}
.shopping__cart form textarea:last-child {
  color: #111111;
}

.delivery-icon{
  width: 100%;
  align-items: center;
}

.bill {
    font-size: 16px;
    font-weight: bold;
    color: black; /* Màu chữ */
    position: relative;
}

.custom-frame {
  max-width: 600px;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.total-bar {
  background-color: #e09132;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid #ccc;
}

.payment-buttons {
  display: flex;
  gap: 10px; /* Khoảng cách giữa các button */
}

.payment-button {
  padding: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%; /* Bo tròn góc để tạo hình tròn */
}

.checkout-button {
  margin-left: 10px; /* Khoảng cách giữa chữ và nút */
  color:#e09139;
  background-color: white;
  border: none;
  width: 30%;
  padding: 10px;
  font-size: 14px;
  text-decoration: none; /* Loại bỏ đường gạch dưới mặc định cho thẻ a */
  border-radius: 20px; 
  position: relative;
}


.cart__discount {
  margin-bottom: 60px;
}
.cart__discount h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.cart__discount form {
  position: relative;
}
.cart__discount form input {
  font-size: 14px;
  color: #444444;
  height: 40px;
  width: 100%;
  border: 1px solid #e1e1e1;
  padding-left: 20px;
}
.cart__discount form input::-webkit-input-placeholder {
  color: #444444;
}
.cart__discount form input::-moz-placeholder {
  color: #444444;
}
.cart__discount form input:-ms-input-placeholder {
  color: #444444;
}
.cart__discount form input::-ms-input-placeholder {
  color: #444444;
}
.cart__discount form input::placeholder {
  color: #444444;
}
.cart__discount form button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #111111;
  padding: 0 30px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}


/*---------------------
  Contact
-----------------------*/
.contact .map {
  height: 400px;
  margin-bottom: 70px;
}

.contact__address {
  padding-bottom: 40px;
  border-bottom: 1px solid #e8eff4;
  margin-bottom: 70px;
}

.contact__address__item {
  margin-bottom: 30px;
}
.contact__address__item h6 {
  color: #111111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contact__address__item ul li {
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.contact__address__item ul li:last-child {
  margin-bottom: 0;
}
.contact__address__item ul li span {
  font-size: 24px;
  color: #111111;
  margin-right: 25px;
  float: left;
}
.contact__address__item ul li p {
  font-size: 14px;
  color: #444444;
  line-height: 26px;
  margin-bottom: 0;
  overflow: hidden;
}

.contact__text h3 {
  color: #e09319;
  font-weight: 700px;
  font-style: italic;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

.contact__text ul {
  margin-bottom: 35px;
}
.contact__text ul li {
  list-style: none;
  font-size: 16px;
  color: #444444;
  line-height: 36px;
}
.contact__text ul li i {
  margin-right: 20px;
  color:#e09139;
  vertical-align: middle;
}

.contact__form form input {
  width: 100%;
  height: 50px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  margin-bottom: 30px;
}
.contact__form form input:last-child {
  color: #111111;
}
.contact__form form textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #e1e1e1;
  background: #fafafa;
  font-size: 14px;
  color: #111111;
  padding-left: 20px;
  padding-top: 12px;
  margin-bottom: 24px;
  resize: none;
}
.contact__form form textarea:last-child {
  color: #111111;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .categories__slider.owl-carousel .owl-nav button {
    left: 0;
  }

  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .instagram__text {
    padding-top: 40px;
  }

  .shop__option__search form .nice-select {
    width: 30%;
  }

  .shop__option__search form input {
    width: 70%;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    left: -15px;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    font-size: 30px;
    color: #888888;
    position: absolute;
    left: -15px;
    top: 28%;
  }

  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    right: -15px;
  }

  .footer__widget:after {
    right: 0px;
  }

  .shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
    padding-top: 10px;
  }

  .wishlist__cart__table table tbody tr td.cart__btn .primary-btn {
    padding: 14px 20px;
  }

  .blog__details__recipe {
    padding: 25px 40px 20px;
  }
}
/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header__menu ul li a {
    padding: 20px 28px 18px;
  }

  .header__top__left ul li {
    margin-right: 20px;
  }

  .header__top__left ul li:after {
    right: -13px;
  }

  .header__top__right__links {
    margin-right: 15px;
  }

  .header__top__right__links a {
    margin-right: 25px;
  }

  .header__top__right__links a:after {
    right: -15px;
  }

  .hero__slider.owl-carousel .owl-nav button {
    left: 0;
  }

  .hero__slider.owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .categories__slider.owl-carousel .owl-nav button {
    left: -20px;
  }

  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }

  .class {
    padding-bottom: 100px;
  }

  .class__form {
    height: auto;
    margin-bottom: 50px;
  }

  .class__video {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
  }

  .testimonial__item .rating {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }

  .testimonial__item {
    padding: 40px 35px 35px 35px;
  }

  .instagram__text {
    padding-top: 0;
    margin-bottom: 100px;
  }

  .footer__newslatter {
    padding-left: 0;
  }

  .copyright__text {
    margin-bottom: 15px;
    text-align: center;
  }

  .copyright__widget {
    text-align: center;
  }

  .footer__widget:after {
    display: none;
  }

  .footer__about:after {
    display: none;
  }

  .shop__option__search form .nice-select {
    width: 40%;
  }

  .shop__option__search form input {
    width: 60%;
  }

  .shop__option__right .nice-select {
    margin-right: 5px;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    left: -20px;
  }

  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }

  .product__details__text {
    padding-top: 40px;
  }

  .cart__discount {
    padding-top: 40px;
  }

  .class__sidebar {
    margin-top: 40px;
  }

  .blog__sidebar {
    padding-top: 50px;
  }

  .blog__details__share {
    width: auto;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 40px;
  }

  .blog__details__share a {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 6px;
  }
  .blog__details__share a:last-child {
    margin-right: 0;
  }

  .blog__details__ingredients {
    margin-bottom: 25px;
  }

  .contact__text {
    margin-bottom: 40px;
  }

  .blog__details__ingredients__pic img {
    min-width: 100%;
  }
}
/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
  .canvas__open {
    display: block;
    font-size: 22px;
    color: #111111;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #111111;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 34px;
  }

  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
    z-index: 98;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    visibility: hidden;
  }

  .offcanvas-menu-overlay.active {
    visibility: visible;
  }

  .offcanvas-menu-wrapper {
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #ffffff;
    padding: 50px 20px 30px 30px;
    display: block;
    z-index: 99;
    overflow-y: auto;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
  }

  .offcanvas-menu-wrapper.active {
    opacity: 1;
    left: 0;
  }

  .offcanvas__menu {
    display: none;
  }

  .slicknav_btn {
    display: none;
  }

  .slicknav_menu {
    background: transparent;
    padding: 0;
    margin-bottom: 30px;
  }

  .slicknav_nav ul {
    margin: 0;
  }

  .slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 7px 0;
    margin: 0;
    color: #111111;
    font-weight: 600;
  }

  .slicknav_nav .slicknav_arrow {
    color: #111111;
  }

  .slicknav_nav .slicknav_row:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }

  .slicknav_nav a:hover {
    border-radius: 0;
    background: transparent;
    color: #111111;
  }

  .slicknav_nav {
    display: block !important;
  }

  .offcanvas__option ul li {
    font-size: 14px;
    color: #111111;
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    padding: 2px 0;
    cursor: pointer;
  }
  .offcanvas__option ul li a {
    color: #111111;
  }
  .offcanvas__option ul li:hover ul {
    top: 24px;
    opacity: 1;
    visibility: visible;
  }
  .offcanvas__option ul li ul {
    background: #111111;
    display: inline-block;
    padding: 2px 0;
    position: absolute;
    left: 0;
    top: 44px;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .offcanvas__option ul li ul li {
    list-style: none;
    font-size: 13px;
    color: #ffffff;
    padding: 2px 15px;
    cursor: pointer;
  }
  .offcanvas__option ul li ul li:after {
    display: none;
  }
  .offcanvas__option ul li:after {
    position: absolute;
    right: -19px;
    top: 1px;
    content: "|";
    color: #bbbbbb;
  }
  .offcanvas__option ul li:last-child {
    margin-right: 0;
  }
  .offcanvas__option ul li:last-child:after {
    display: none;
  }
  .offcanvas__option ul li span {
    color: #888888;
  }

  .offcanvas__logo {
    margin-bottom: 40px;
  }
  .offcanvas__logo a {
    display: inline-block;
  }

  .offcanvas__cart {
    margin-bottom: 30px;
  }

  .offcanvas__cart__links {
    display: inline-block;
    margin-right: 20px;
  }
  .offcanvas__cart__links a {
    display: inline-block;
    margin-right: 30px;
    position: relative;
  }
  .offcanvas__cart__links a:after {
    position: absolute;
    right: -18px;
    top: 0px;
    content: "|";
    font-size: 16px;
    color: #bababa;
  }
  .offcanvas__cart__links a:last-child {
    margin-right: 0;
  }
  .offcanvas__cart__links a:last-child:after {
    display: none;
  }

  .offcanvas__cart__item {
    display: inline-block;
  }
  .offcanvas__cart__item a {
    position: relative;
    display: inline-block;
    margin-right: 6px;
  }
  .offcanvas__cart__item a span {
    font-size: 15px;
    color: #111111;
    font-weight: 600;
    position: absolute;
    left: 7px;
    top: 4px;
  }
  .offcanvas__cart__item .cart__price {
    display: inline-block;
    color: #888888;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 4px;
  }
  .offcanvas__cart__item .cart__price span {
    color: #111111;
  }

  .header__top__left {
    display: none;
  }

  .header__top__right {
    display: none;
  }

  .header__logo {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 0;
  }

  .header__top__inner {
    height: auto;
    padding: 25px 0;
  }

  .header__menu {
    display: none;
  }

  .header .container {
    position: relative;
  }

  .categories__slider.owl-carousel .owl-nav button {
    left: 0;
  }

  .categories__slider.owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .class {
    padding-bottom: 100px;
  }

  .class__form {
    height: auto;
    margin-bottom: 50px;
  }

  .class__video {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
  }

  .instagram__text {
    padding-top: 0;
    margin-bottom: 100px;
    padding: 0 15px;
  }

  .instagram__pic.middle__pic {
    padding-top: 0;
    margin-bottom: 30px;
  }

  .footer__widget:after {
    display: none;
  }

  .footer__about:after {
    display: none;
  }

  .footer__newslatter {
    padding-left: 0;
  }

  .footer__about {
    text-align: left;
  }

  .copyright__text {
    margin-bottom: 15px;
    text-align: center;
  }

  .copyright__widget {
    text-align: center;
  }

  .categories__slider.owl-carousel.owl-loaded.owl-drag {
    padding: 0 15px;
  }

  .shop__option__search form {
    margin-bottom: 30px;
  }

  .shop__option__search form .nice-select {
    width: 36%;
  }

  .shop__option__search form input {
    width: 64%;
  }

  .shop__option__right {
    text-align: center;
  }

  .related__products__slider.owl-carousel .owl-nav {
    width: 100%;
    text-align: center;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .shopping__cart__table {
    overflow-x: auto;
  }

  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    left: 5px;
  }

  .shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
    float: none;
    margin-right: 0;
  }

  .shopping__cart__table table tbody tr td.product__cart__item {
    width: auto;
  }

  .shopping__cart__table table tbody tr td.quantity__item {
    width: auto;
  }

  .shopping__cart__table table tbody tr td.cart__price {
    width: auto;
  }

  .wishlist__cart__table {
    overflow-x: auto;
  }

  .wishlist__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
    float: none;
    margin-right: 0;
  }

  .wishlist__cart__table table tbody tr td.product__cart__item {
    width: auto;
  }

  .wishlist__cart__table table tbody tr td.quantity__item {
    width: auto;
  }

  .wishlist__cart__table table tbody tr td.cart__price {
    width: auto;
  }

  .cart__discount {
    padding-top: 40px;
  }

  .continue__btn a {
    padding: 14px 20px;
  }

  .checkout__order {
    margin-top: 20px;
  }

  .class__sidebar {
    margin-top: 20px;
  }

  .blog__sidebar {
    padding-top: 30px;
  }

  .blog__details__recipe {
    padding: 25px 20px 20px;
  }

  .blog__details__ingredients {
    margin-bottom: 25px;
  }

  .blog__details__ingredients__pic img {
    min-width: 100%;
  }

  .blog__details__author__text .blog__details__author__social {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 15px;
  }

  .blog__details__author {
    padding: 40px 30px;
  }

  .blog__details__comment__item--reply {
    padding-left: 0;
  }

  .contact__text {
    margin-bottom: 40px;
  }

  .about__text {
    margin-bottom: 40px;
  }

  .hero__slider.owl-carousel .owl-nav button {
    left: 0;
  }

  .hero__slider.owl-carousel .owl-nav button.owl-next {
    right: 0;
  }

  .product__details__tab .nav-tabs .nav-item {
    margin-right: 20px;
  }

  .product__details__tab .nav-tabs .nav-item:after {
    right: -12px;
  }

  .blog__sidebar {
    padding-top: 50px;
  }

  .blog__details__share {
    width: auto;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 40px;
  }

  .blog__details__share a {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 6px;
  }
  .blog__details__share a:last-child {
    margin-right: 0;
  }

  .blog__details__recipe__item {
    width: 50%;
    float: left;
    margin-bottom: 30px;
  }

  .product__details__big__img {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .product__details__big__img img {
    height: auto;
  }

  .product__details__thumb {
    height: auto;
    float: none;
    width: 100%;
    margin-right: -10px;
  }
  .product__details__thumb .pt__item {
    width: calc(20% - 10px);
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .product__details__text {
    padding-top: 40px;
  }

  .search-model-form input {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .team__btn {
    text-align: left;
    margin-bottom: 40px;
  }

  .shop__pagination {
    text-align: center;
    margin-bottom: 20px;
  }

  .shop__last__text {
    text-align: center;
  }

  .continue__btn {
    text-align: center;
  }

  .continue__btn.update__btn {
    text-align: center;
    margin-top: 20px;
  }

  .breadcrumb__links {
    text-align: left;
    padding-top: 20px;
  }
}
/* Small Device = 320px */
@media only screen and (max-width: 479px) {
  .section-title h2,
.blog__hero__text h2,
.blog__item__text h2 {
    font-size: 28px;
    line-height: normal;
  }

  .hero__text {
    padding: 40px 25px 50px;
  }

  .hero__text h2 {
    font-size: 34px;
    line-height: 45px;
  }

  .categories__item {
    margin: 0 auto;
  }

  .testimonial__item .rating {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }

  .testimonial__item {
    padding: 30px 25px 25px 30px;
  }

  .shop__option__search form .nice-select {
    padding-left: 8px;
  }

  .shop__option__search form .nice-select {
    width: 46%;
  }

  .shop__option__search form input {
    width: 54%;
    padding-left: 10px;
  }

  .product__details__option .quantity {
    margin-bottom: 20px;
  }

  .cart__total {
    padding: 30px 20px 30px;
  }

  .blog__item__pic .blog__pic__inner ul {
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }

  .blog__details__author__pic {
    float: none;
    margin-right: 0;
  }

  .blog__details__author__text {
    padding-top: 25px;
  }

  .blog__details__recipe__item {
    width: 100%;
    float: none;
    margin-bottom: 30px;
    text-align: center;
  }

  .blog__details__comment__item__pic {
    float: none;
    margin-bottom: 30px;
  }

  .blog__details__comment .primary-btn {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 30px;
  }

  .blog__details__comment__item__text .blog__details__comment__btns {
    position: relative;
    right: 0;
    top: 0;
    margin-top: 15px;
  }

  .product__details__big__img img {
    height: auto;
  }

  .product__details__img {
    height: auto;
    overflow: hidden;
  }

  .product__details__thumb {
    height: auto;
  }

  .breadcrumb__text h2 {
    font-size: 40px;
  }

  .checkout__total__products li span {
    float: none;
    display: block;
    margin-top: 10px;
  }

  .checkout__order__products span {
    display: none;
  }
}