/*Header*/
.bicolor {
    color: #E09132;
}
.header-font {
    font-family: inter;
    font-size:medium;
}
.logo{
    width: 120px;
    height: 40px
}
.bg {
    background-color: #FFEFCD;
    color: #000000;
}
.navbar {
    background-color: #FFEFCD;
    color: black;
    font-size: 80%;
    font-family: inter;
}
.nav-item {
    position: center;    
    font-size: 16px
}
.nav-item-padding{
    padding-left: 40px;
    padding-right: 40px;
}

#cart-number{
  display:flex;
  width:17px;
  height: 17px;
  background-color: red;
  font-size: 9px;
  justify-content: center;
  align-items: center;
  color:white;
  border-radius: 50%;
  position:absolute;
  bottom:50%;
  right: 150px;
}

/*Header*/

/*Footer*/
.bgimg {
    width: 100%;
    background-size: 100% 100%;
}
.footer-font {
    font-family: inter;
    color: white;
    font-weight: 100;
}
/*Footer*/

/* Thay thế*/
.site-btn {
  font-size: 14px;
  color: #ffffff;
  background: #f08632;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  padding: 14px 30px;
}


/* Thêm mới*/
.about__img {
margin: 10px;
}
/*---------------------
Banner
-----------------------*/
.banner__bg {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

/* Product  detail*/

  .options_topping, .options_size{
    border: grey;
    border-radius: 5px;
    padding:20px;
    margin-top: -15px;
    margin-bottom: -20px;
  }
  input{
    background-color: white;
    border-radius: 5px;
    padding:7px;
    margin-left: 20px;
    margin-top: 15px;
    color: black;
  }
  .product__details__text h4 {
    color: #E5902D;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  .product__details__text h6 {
    color: #A58D73;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 25px;
    margin-bottom: 10px;
  }
  .product__details__text h5 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 25px;
    margin-bottom: 10px;
  }
  .product__details__text p {
    color: #444444;
    margin-bottom: 18px;
  }
  .product__details__text ul li {
    list-style: none;
    font-size: 16px;
    color: #888888;
    line-height: 28px;
  }
  .add_btn {
    display: inline-block;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 30px;
    color: #ffffff;
    background: #f08632;
    margin-top: 15px;
    margin-right: 20px;
  }
  
  .order_btn {
    display: inline-block;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 14px 30px;
    color: #ffffff;
    background: #f08632;
    margin-top: 15px;
    margin-top: 15px;
  }
  /*---------------------
  Product Details
-----------------------*/
.product-details {
    padding-top: 90px;
    padding-bottom: 0;
  }
  
  .product__details__big__img {
    width: calc(84% - 20px);
    float: left;
    margin-right: 20px;
  }
  .product__details__big__img img {
    min-width: 100%;
  }
  
  .product__details__thumb {
    height: 440px;
    float: left;
    width: 16%;
    overflow: hidden;
  }
  .product__details__thumb .pt__item {
    margin-bottom: 10px;
    cursor: pointer;
  }
  .product__details__thumb .pt__item img {
    min-width: 100%;
  }
  
  
  
  .product__details__option {
    overflow: hidden;
  }
  .product__details__option .quantity {
    overflow: hidden;
    float: left;
    margin-right: 20px;
  }
  .product__details__option .pro-qty {
    height: 50px;
    width: 140px;
    border: 1px solid #e1e1e1;
    padding: 0 20px;
  }
  .product__details__option .pro-qty .qtybtn {
    font-size: 16px;
    float: left;
    height: 100%;
    line-height: 48px;
    cursor: pointer;
    font-weight: 600;
  }
  .product__details__option .pro-qty .qtybtn.dec {
    color: #888888;
  }
  .product__details__option .pro-qty .qtybtn.inc {
    color: #111111;
  }
  .product__details__option .pro-qty input {
    border: none;
    height: 100%;
    width: 82px;
    font-size: 16px;
    font-weight: 600;
    color: #111111;
    float: left;
    text-align: center;
  }
  .product__details__option a {
    float: left;
    text-decoration: none;
  }
  .product__details__option .primary-btn {
    margin-right: 20px;
  }
  
  .product__details__tab {
    padding-top: 25px;
  }
  .product__details__tab h4{
    color:#000;
  }
  .product__details__tab .tab-content p {
    color: black;
    line-height: 30px;
    text-align:left;
    margin-top: 10px;
  }
  
  /*---------------------
    Related Products
  -----------------------*/
  .related-products {
    padding-top: 80px;
    padding-bottom: 40px;

  }
  .related__products__slider.owl-carousel .col-lg-3 {
    max-width: 100%;
  }
  .related__products__slider.owl-carousel .owl-nav button {
    font-size: 30px;
    color: #888888;
    position: absolute;
    left: -44px;
    top: 28%;
  }
  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -44px;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    left: -15px;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    font-size: 30px;
    color: #888888;
    position: absolute;
    left: -15px;
    top: 28%;
  }

  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    right: -15px;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    left: -20px;
  }

  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }

  .related__products__slider.owl-carousel .owl-nav {
    width: 100%;
    text-align: center;
  }

  .related__products__slider.owl-carousel .owl-nav button {
    position: relative;
    left: 0;
    bottom: 0;
  }

  .related__products__slider.owl-carousel .owl-nav button.owl-next {
    left: 5px;
  }


  .related__products__slider .col-lg-2 {
    flex: 0 0 16.66667%; /* Set the width to 1/6th of the container */
    max-width: 16.66667%;
}

.related__products__slider .product__item {
    text-align: center;
    margin: 10px; /* Optional: Add margin between products */
}

.related__products__slider .product__item img {
    max-width: 100%;
    height: auto;
}

.section-title {
 text-align: left;
}

  /*---------------------
  Product
-----------------------*/
.product {
    padding-top: 50px;
  }
  
  .product__item {
    margin-bottom: 40px;
  }
  
  .product__item__text {
    text-align: center;
    position: relative;
    padding: 10px;
  }
  .product__item__text h6 {
    margin-bottom: 16px;
  }
  .product__item__text h6 a {
    color: #E5902D;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: none;

  }
 .product__item__price{
text-align: center;
color: #A58D73;
margin-top: -10px;
 } 


/*---------------------
  Breadcrumb
-----------------------*/
.breadcrumb-option {
    padding-top: 60px;
    text-align: left;
  }
  
  .breadcrumb__text h2 {
    font-size: 50px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
    font-family: "Playfair Display", serif;
  }
  
  .breadcrumb__links {
    text-align:left ;
    padding-top: 15px;
  }
  .breadcrumb__links a {
    font-size: 16px;
    color: #111111;
    margin-right: 26px;
    display: inline-block;
    position: relative;
    text-decoration: none;

  }
  .breadcrumb__links a:after {
    position: absolute;
    right: -16px;
    top: 0;
    content: "|";
    color: #888888;
  }
  .breadcrumb__links span {
    font-size: 16px;
    color: #888888;
    display: inline-block;
  }

  /*---------------------
    Blog
-----------------------*/

.blog {
    overflow: hidden;
  }
  
  .blog__item {
    margin-bottom: 70px;
  }
  
  .blog__item__pic {
    height: 430px;
    position: relative;
    margin-left: 25px;
  }

  .blog__item__pic img{
    height: 400px;
    width: 600px; 
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
  }
  .blog__item__pic .blog__pic__inner {
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -15px;
    width: calc(100% - 40px);
    padding: 30px 0 0;
  }
  .blog__item__pic .blog__pic__inner .label {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    background: #f08632;
    display: inline-block;
    padding: 4px 15px 2px;
  }
  .blog__item__pic .blog__pic__inner ul {
    display: inline-block;
    margin-left: 50px;
  }
  .blog__item__pic .blog__pic__inner ul li {
    list-style: none;
    font-size: 12px;
    color: #888888;
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  .blog__item__pic .blog__pic__inner ul li span {
    color: #111111;
  }
  .blog__item__pic .blog__pic__inner ul li:after {
    position: absolute;
    right: -14px;
    top: 0;
    content: "|";
  }
  .blog__item__pic .blog__pic__inner ul li:last-child {
    margin-right: 0;
  }
  .blog__item__pic .blog__pic__inner ul li:last-child:after {
    display: none;
  }
  
  .blog__item__text {
    padding-top: 20px;
  }
  .blog__item__text h2 {
    font-family: "Playfair Display", serif;
    color:#f08632;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .blog__item__text p {
    color:#000000;
    margin-bottom: 10px;
  }
  .blog__item__text a {
    color: #000000;
    font-size: 16px;
    font-weight: 200;
    border-bottom: 2px solid #f08632;
    text-decoration: none;
    text-align: right;
    margin-top: -20px;
  }
  
/*---------------------
  Blog Sidebar
-----------------------*/
.blog__sidebar__search {
    margin-bottom: 65px;
  }
  .blog__sidebar__search form {
    position: relative;
  }
  .blog__sidebar__search form input {
    height: 50px;
    width: 100%;
    font-size: 14px;
    color: #444444;
    padding-left: 20px;
    border: 1px solid #e1e1e1;
  }
  .blog__sidebar__search form input::-webkit-input-placeholder {
    color: #444444;
  }
  .blog__sidebar__search form input::-moz-placeholder {
    color: #444444;
  }
  .blog__sidebar__search form input:-ms-input-placeholder {
    color: #444444;
  }
  .blog__sidebar__search form input::-ms-input-placeholder {
    color: #444444;
  }
  .blog__sidebar__search form input::placeholder {
    color: #444444;
  }
  .blog__sidebar__search form button {
    font-size: 18px;
    color: #111111;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 18px;
  }
  
  .blog__sidebar__item {
    margin-bottom: 65px;
  }
  .blog__sidebar__item:last-child {
    margin-bottom: 0;
  }
  .blog__sidebar__item h5 {
    font-size: 20px;
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
    margin-bottom: 35px;
  }
  .blog__sidebar__item h5:before {
    position: absolute;
    left: 0;
    top: 5px;
    height: 14px;
    width: 10px;
    background:#f6ad03;
    content: "";
  }
  .blog__sidebar__item .blog__sidebar__social a {
    display: inline-block;
    font-size: 16px;
    color: #111111;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    background: #f2f2f2;
    line-height: 46px;
    text-align: center;
    margin-right: 6px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .blog__sidebar__item .blog__sidebar__social a:hover {
    background: #111111;
    color: #ffffff;
  }
  .blog__sidebar__item .blog__sidebar__social a:last-child {
    margin-right: 0;
  }
  .blog__sidebar__item .blog__sidebar__item__categories ul li {
    list-style: none;
    line-height: 36px;
    overflow: hidden;
  }
  .blog__sidebar__item .blog__sidebar__item__categories ul li:hover a {
    text-decoration: line-through;
  }
  .blog__sidebar__item .blog__sidebar__item__categories ul li:hover a span {
    color: #f08632;
  }
  .blog__sidebar__item .blog__sidebar__item__categories ul li a {
    font-size: 16px;
    color: #444444;
  }
  .blog__sidebar__item .blog__sidebar__item__categories ul li a span {
    float: right;
  }
  .blog__sidebar__item p {
    margin-bottom: 25px;
  }
  .blog__sidebar__item form input {
    height: 50px;
    width: 100%;
    font-size: 14px;
    color: #444444;
    padding-left: 20px;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
  }
  .blog__sidebar__item form input::-webkit-input-placeholder {
    color: #444444;
  }
  .blog__sidebar__item form input::-moz-placeholder {
    color: #444444;
  }
  .blog__sidebar__item form input:-ms-input-placeholder {
    color: #444444;
  }
  .blog__sidebar__item form input::-ms-input-placeholder {
    color: #444444;
  }
  .blog__sidebar__item form input::placeholder {
    color: #444444;
  }
  .blog__sidebar__item form label {
    font-size: 14px;
    color: #444444;
    position: relative;
    padding-left: 30px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 22px;
    display: block;
  }
  .blog__sidebar__item form label input {
    position: absolute;
    visibility: hidden;
  }
  .blog__sidebar__item form label input:checked ~ .checkmark {
    border-color: #f08632;
  }
  .blog__sidebar__item form label input:checked ~ .checkmark:after {
    opacity: 1;
  }
  .blog__sidebar__item form label .checkmark {
    position: absolute;
    left: 0;
    top: 3px;
    height: 14px;
    width: 14px;
    border: 1.5px solid #888888;
    content: "";
    border-radius: 2px;
  }
  .blog__sidebar__item form label .checkmark:after {
    position: absolute;
    left: 1px;
    top: -3px;
    width: 14px;
    height: 7px;
    border: solid #f08632;
    border-width: 1.5px 1.5px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    content: "";
    opacity: 0;
  }
  
  .blog__sidebar__recent .blog__sidebar__recent__item:last-child {
    margin-bottom: 0;
  }
  
  .blog__sidebar__recent__item {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    text-decoration: none;
  }
  
  .blog__sidebar__recent__item__pic {
    float: left;
    margin-right: 25px;
  }
  .blog__sidebar__recent__item__pic img{
    margin-right: 15px;
    width:100px;
    height:80px;
  }
  
  .blog__sidebar__recent__item__text {
    overflow: hidden;
  }
  .blog__sidebar__recent__item__text h4 {
    font-size: 16px;
    color:#E09132;
    line-height: 26px;
    font-style: italic;
    font-family: "Playfair Display", serif;
    margin-bottom: -5px;
    text-decoration: none;
  }
  .blog__sidebar__recent__item__text span {
    font-size: 12px;
    color: #888888;
  }
  .shop__pagination {
    text-align: center;
    margin-bottom: 20px;
  }
  .shop__pagination a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  .shop__pagination a span {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 2px;
  }
  .shop__pagination a:hover {
    background: #000000;
    color: #ffffff;
  }
  
  .shop__last__text {
    margin-bottom: 0;
    color: #000000;
    text-align: right;
  }

  .shop__option__right {
    text-align: right;
  }
  .shop__option__right .nice-select {
    border: none;
    background: #f5f5f5;
    display: inline-block;
    width: 205px;
    height: 46px;
    line-height: 46px;
    padding-left: 30px;
    border-radius: 0;
    float: none;
    margin-right: 18px;
  }
  .shop__option__right .nice-select .list {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
  }
  .shop__option__right .nice-select:after {
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
    height: 7px;
    margin-top: -5px;
    width: 7px;
    right: 26px;
  }
  .shop__option__right .nice-select span {
    font-size: 16px;
    color: #000000;
  }
  .shop__option__right a {
    display: inline-block;
    font-size: 18px;
    color: #000000;
    margin-left: 8px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .shop__option__right a:hover {
    color: #888888;
  }

  .blog__details__text p {
    color: #000;
    font-size: 16px;
    line-height: 30px;
  }
  .blog__details__text p:last-child {
    margin-bottom: 0;
  }
  .blog__details__tags {
    padding-top: 30px;
    border-top: 1px solid #e8eff4;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .blog__details__tags span {
    font-size: 16px;
    color: #111111;
    font-weight: 600;
    display: inline-block;
    margin-right: 25px;
  }
  .blog__details__tags a {
    font-size: 14px;
    color: #444444;
    background: #f2f2f2;
    display: inline-block;
    padding: 7px 15px 5px;
    margin-right: 10px;
    text-decoration: none;
  }
  .blog__details__tags a:last-child {
    margin-right: 0;
  }
  .blog__details__content h2{
      margin-top: 50px;
      font-family: "Playfair Display", serif;
      color: #f08632;
      font-style: italic;
      margin-bottom: 10px;
      font-size: 40px;
  }

  .blog__details__content h6 {
    position: relative;
    color:#000;
    text-align: center;
    margin-top: 30px;
    font-style: italic;
  }


#productDetailContainer{
  padding: 50px;
}
#productDetailContainer .product__details__big__img{
  padding-top: 40px;
}
#productDetailContainer .shop_btn {
  display: inline-block;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 30px;
  color: #ffffff;
  background: #f08632;
  margin-top: 15px;
  margin-right: 20px;
  text-decoration: none;
}

